* {
    vertical-align: baseline;
   border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}




body {
    background-color: lightgray;
      font-family: "Roboto", sans-serif;
    
}

header {
    background-color: white;
    height: 80px;
    padding: 20px 0 0 20px;
    margin-bottom: 50px;
}

header img, header span {
 vertical-align: middle;
}
 
main {
    background: #FFF;
    margin: 0 auto;
    width: 80%;
    
 
}

main h1 {
    border-bottom: 2px solid #000;
    padding: 20px;
}

main section {
    padding: 20px;  
}

button {
    width: 100px;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    
}
.button1 {
    background-color: #47ADF1;
    color: white
    
    
}

.button2 {
    background-color: white;
    border:2px solid grey;
    color: gray
}

li {
    list-style: none;
}


.green {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    border: 0.5px solid;
    display: inline-block;
    vertical-align: middle;
    color: green
    }

  .red {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    border: 0.5px solid;
    display: inline-block;
    vertical-align: middle;
    
    color: red
  }

  .fake-button-editorial {
    display: inline-block;
  padding: 6px 13px;
  border-radius: 20px;
  background-color:#47ADF1;
  color: white;
  }

  .fake-button-q1-goals {
    
    display: inline-block;
    padding: 6px 13px;
    border-radius: 20px;
    background-color:#9C72E4;
    color: white;
}
   
.fake-button-recruiting {
    display: inline-block;
    padding: 6px 13px;
    border-radius: 20px;
    background-color:#64C0A9;
    color: white;
    }
    .fake-button-mobiles {
        display: inline-block;
    padding: 6px 13px;
    border-radius: 20px;
    background-color:#F29E33;
    color: white;
}
.fake-button-website {
    display: inline-block;
    padding: 6px 13px;
    border-radius: 20px;
    background-color:#D863A1;
    color: white;
}
.fake-button-sales {
    display: inline-block;
    padding: 6px 13px;
    border-radius: 20px;
    background-color:#B0C926;
    color: white; 
}